<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Arrivée</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Avion</h4>
                <p><strong>Aéroport Nice Côte d’Azur (NCE)</strong></p>
                <p>Aéroport le plus proche.</p>
                <p>Environ 30 minutes du centre de Nice et 35 minutes du Domaine de la Mourachonne en voiture.</p>

            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Voiture</h4>
                <p class="text-muted"><h4>Voiture</h4>
                <p>La voiture est vivement recommandée pour le week-end.</p>
                <p>Un parking est disponible directement au Domaine de la Mourachonne.</p>
                <p>La voiture facilite les déplacements entre les différents lieux du mariage et les logements à proximité.</p>

            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Train</h4>
                <p class="text-muted"<h4>Train</h4>
                <p>Gare de Nice-Ville.</p>
                <p>Liaisons directes depuis Paris et les principales grandes villes.</p>
                <p>Depuis la gare, il est possible de rejoindre les lieux du mariage en taxi, VTC ou voiture de location.</p>

            </div>
        </div>
    </div>
</section>
